/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

$base-spacing: 14px;
$mobile: "(max-width: 768px)";
$tablet: "(min-width: 768px)";
$tablet_only: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$tablet_only} {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
html, body {
  margin: 0; padding: 0;
  font-size: $base-spacing;
  line-height: 18px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: $base-spacing*2;
  margin-bottom: $base-spacing*2;
  font-family: 'Roboto Mono', monospace;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

.container {
  max-width: 960px;
  margin: 0 auto;
}
